@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;700&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', 'sans-serif';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('https://res.cloudinary.com/drthbhsta/image/upload/v1683552526/PlayingCards/pexels-nhu-tran-1479465_brxtbo.jpg');
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-family: 'Poppins';
  font-size: 35px !important;
}

.link {
  text-decoration: none;
  color: #fff;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}

.form-control {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #cccccc;
  margin-bottom: 10px;
}